{% extends "base.html" %}

{% block content %}
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
        rel="stylesheet" />
  <header class="text-center">
    <h1>Video Translation</h1>
    <p>Translate any video to any language, with perfectly matched lip movements</p>
  </header>
  <div class="max-w-4xl mx-auto py-5">
    <h1 class="text-2xl text-gray-800 mb-3">Upload a Large File</h1>
    <form method="post" id="fileForm" enctype="multipart/form-data">
      {% csrf_token %} {{ form }}
      <div class="mt-3">
        <div class="mt-3">
          <div class="shadow w-full bg-gray-100">
            <div id="progressBar"
                 class="bg-blue-500 text-xs leading-none py-1 text-center text-gray-800"
                 style="width: 0%">0%</div>
          </div>
        </div>
        <div class="mt-2">
          <h3 id="status"></h3>
        </div>
      </div>
      <hr class="mt-5" />
      <button type="submit"
              id="submitBtn"
              class="mt-5 rounded shadow-md px-3 py-1 text-lg text-white bg-blue-500 hover:bg-blue-600">
        Submit
      </button>
    </form>
    <hr class="mt-5" />
    <div class="mt-5">
      <h3 class="text-lg text-gray-800 mb-3">Upload History</h3>
      {% for upload in uploads %}
        <div class="py-5 px-3 border border-gray-200 bg-gray-50">{{ upload.file.name }}</div>
      {% empty %}
        <p class="text-gray-800">No uploads</p>
      {% endfor %}
    </div>
  </div>
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <div id="drop-area"
             class="border rounded d-flex justify-content-center align-items-center"
             style="height: 200px;
                    cursor: pointer">
          <div class="text-center">
            <i class="bi bi-cloud-arrow-up-fill text-primary"
               style="font-size: 48px"></i>
            <p class="mt-3">Drag and drop your image here or click to select a file.</p>
          </div>
        </div>
        <input type="file" id="fileElem" multiple accept="image/*" class="d-none" />
      </div>
    </div>
  </div>
  <script>
    let dropArea = document.getElementById("drop-area");

    ["dragenter", "dragover", "dragleave", "drop"].forEach((eventName) => {
      dropArea.addEventListener(eventName, preventDefaults, false);
      document.body.addEventListener(eventName, preventDefaults, false);
    });

    ["dragenter", "dragover"].forEach((eventName) => {
      dropArea.addEventListener(eventName, highlight, false);
    });

    ["dragleave", "drop"].forEach((eventName) => {
      dropArea.addEventListener(eventName, unhighlight, false);
    });

    dropArea.addEventListener("drop", handleDrop, false);

    function preventDefaults(e) {
      e.preventDefault();
      e.stopPropagation();
    }

    function highlight(e) {
      dropArea.classList.add("highlight");
    }

    function unhighlight(e) {
      dropArea.classList.remove("highlight");
    }

    function handleDrop(e) {
      let dt = e.dataTransfer;
      let files = dt.files;
      handleFiles(files);
    }

    function handleFiles(files) {
      [...files].forEach(uploadFile);
    }

    function uploadFile(file) {
      console.log("Uploading", file.name);
    }

    dropArea.addEventListener("click", () => {
      fileElem.click();
    });

    let fileElem = document.getElementById("fileElem");
    fileElem.addEventListener("change", function(e) {
      handleFiles(this.files);
    });
  </script>
{% endblock content %}
